<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>products</title>
</head>
<body>
<div class="workingArea">
    <table>
        <thead>
            <tr>
                <th>id</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p:${ps}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.price}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>